/* Assignment 1 */
.sample{
    width:100px;
    height:100px;
    float: left;
    margin-right: 100px;
    background:#ff2d75;
}

.sample:nth-child(1):hover{
    transform: rotate(24deg);
    transition: 2s;
}
.sample:nth-child(2):hover{
    transform: scale(2,3);
    transition: 2s;
}
.sample:nth-child(3):hover{
    transform: skew(24deg);
    transition: 2s;
}
.sample:nth-child(4):hover{
    transform: translate(24px, 20px);
    transition: 2s;
}

/* Assignment 2 */

.header{
    width: auto;
    background: #2D3E50;
    padding: 15px 30px 30px 30px;
    color: white;
    border: solid 1px black;
    text-align: right;
}

ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

li {
    float: left;
}

li a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li:nth-child(2),li:nth-child(3),li:nth-child(4){
    float: right;
}

li a:hover{
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}

.section1{
    background: #318dd6;
    width: auto;
    text-align: center;
    height: 70%;
    color: white;
}

.bigBold{
    border: double 2px white;
    border-radius: 2px;
    text-align: center;
    margin: 0px auto;
    padding: 2% 4% 2% 4%;
    font-size: x-large;
    color: white;
    width: 300px;
    position: relative;
    top:30%;
    margin-bottom: 10%;
}

.button{
    padding: 0.5% 1% 0.5% 1%;
    border-radius: 2px;
    border: solid 1px white;
    background: white;
    color: #4498d9;
}

.section2{
    width: auto;
    text-align: center;
    height: 20%;
    padding: 1% 0px;
    color: rgba(6, 7, 24, 0.65);
}

.innerSection2{
    float: left;
    text-align: left;
    width: 22%;
    margin-left: 3% ;
}

.innerSection2 span{
    color:#008eff;
}

.section3{
    width: auto;
    background: rgba(45, 62, 80, 0.82);
    height: 30%;
    border: solid 1px #2d3e50d1;
}

.divFold {
    position: relative;
    padding: 40px 40px 35px 26px;
    width:0px;
    height: 20px;
    background-color: #f3c631;
    border-radius: 3px;
    top:30%;
    left:20%;
    float: left;
    margin-right: 3%;
}

.divFold:nth-child(2){
    background: #5dbf9d;
}

.divFold:before, .divFold:after {
    position: absolute;
    width: 1px;
    height: 1px;
    top: 0;
    right: 0;
    content: "";
}
.divFold:before {
    border-top: solid 10px #52606f;
    border-right: solid 10px #52606f;
    border-left: solid 10px transparent;
    border-bottom: solid 10px transparent;
}
.divFold:after {
    border-bottom: solid 10px #f09c33;
    border-left: solid 10px #f09c33;
    border-right: solid 10px transparent;
    border-top: solid 10px transparent;
}

.divFold:nth-child(2):after{
    border-bottom: solid 10px #4da185;
    border-left: solid 10px #4da185;
    border-right: solid 10px transparent;
    border-top: solid 10px transparent;

}

.fa.fa-long-arrow-down, .fa.fa-gear{
    font-size: 20px;
    color: white;
}

.innerText{
    position: relative;
    width: auto;
    float: left;
    color: #d7dade;
    top:-12%;
    margin: 0% 3% 0% 40%;
    text-transform: uppercase;
}

.section4{
    width: auto;
    height:30%;
    padding: 2%;
    text-align: center;
    border: solid 1px red;
}
.innerForm{
    width: 30%;
    text-align: left;
    font-weight: bold;
    border: solid 1px rebeccapurple;
}

.innerForm input{
    width: 40%;
    border-radius: 2px;
}